In [1]:
'''
THIS NOTEBOOK'S QUESTION:
Why and how will we divide these 20K rows into TRAINING (80%) vs TESTING (20%)?

DATA LEAKAGE:
If we clean the data before splitting, the eventual TESTING data will inform/bias the TRAINING data, likely making the results too clean
'''

"\nTHIS NOTEBOOK'S QUESTION:\nWhy and how will we divide these 20K rows into TRAINING (80%) vs TESTING (20%)?\n\nDATA LEAKAGE:\nIf we clean the data before splitting, the eventual TESTING data will inform/bias the TRAINING data, likely making the results too clean\n"

In [2]:
import os
import pandas #required to convert into a DataFrame

PROJECT_FILE_PATH = os.path.join("datasets", "housing")
csv_path = os.path.join(PROJECT_FILE_PATH, "housing.csv")
housing_dataframe = pandas.read_csv(csv_path)

In [3]:
# to split the dataset in an unbiased way, we want to use randoomized hash values
# but we want the hash values to come from a consistent source, so we are using STABLE position values from longitude/latitude

housing_dataframe["concatenated_position"] = (
    housing_dataframe["longitude"].astype(str) + "_" + housing_dataframe["latitude"].astype(str)
)

In [4]:
# create a hash value rooted in "concatenated_position"
from zlib import crc32
housing_dataframe["position_hash"] = housing_dataframe["concatenated_position"].apply(lambda x: crc32(x.encode()))

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,concatenated_position,position_hash
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,-122.23_37.88,118608551
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,-122.22_37.86,1189016596
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,-122.24_37.85,3154612372
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,-122.25_37.85,443587360
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,-122.25_37.85,443587360

In [5]:
#split the data into training (80%) and testing (20%)
from sklearn.model_selection import train_test_split
train_dataframe, test_dataframe = train_test_split(housing_dataframe, test_size=0.2, random_state=42) #using a common utility from scikit package
train_dataframe.head() #this will give us a demonstration of the data

ModuleNotFoundError: No module named 'sklearn'