In [1]:
# splitting training data into 2 buckets (1 for inputs, 1 for price outputs) so they don't pollute each other during training
import os
import pandas #required to convert into a DataFrame

PROJECT_FILE_PATH = os.path.join("datasets", "housing")
csv_path = os.path.join(PROJECT_FILE_PATH, "stratified_training_80.csv")
full_stratified_training80_data = pandas.read_csv(csv_path)

training80_inputs_features_df  = full_stratified_training80_data.drop("median_house_value", axis=1)
training80_prices_labels_df = full_stratified_training80_data["median_house_value"].copy()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,position_hash
count,16512.000000,16512.000000,16512.000000,16512.000000,16354.000000,16512.000000,16512.000000,16512.000000,1.651200e+04
mean,-119.575635,35.639314,28.653404,2622.539789,534.914639,1419.687379,497.011810,3.875884,2.145696e+09
std,2.001828,2.137963,12.574819,2138.417080,412.665649,1115.663036,375.696156,1.904931,1.240325e+09
min,-124.350000,32.540000,1.000000,6.000000,2.000000,3.000000,2.000000,0.499900,1.000000e+00
25%,-121.800000,33.940000,18.000000,1443.000000,295.000000,784.000000,279.000000,2.566950,1.078540e+09
50%,-118.510000,34.260000,29.000000,2119.000000,433.000000,1164.000000,408.000000,3.541550,2.140086e+09
75%,-118.010000,37.720000,37.000000,3141.000000,644.000000,1719.000000,602.000000,4.745325,3.236559e+09
max,-114.310000,41.950000,52.000000,39320.000000,6210.000000,35682.000000,5358.000000,15.000100,4.293965e+09

In [12]:
'''
I want a pulse check to see which dimensions are missing values and how bad is the relative damage. If the total_bedrooms had a lot of empty rows
and those empty rows were randomly distributed, it might make sense to remove the rows with empty data. However, if I had reason to believe the empties
showed up in a biased way (e.g. voters claiming to be undecided) AND the dimension wasn't a key feature of predicting prices, I might remove the entire
dimension. Given the percentages shown below and the book's hint, I feel more comfortable now auto-filling blanks with the median bedroom count.
'''

missing_values_counts = training80_inputs_features_df.isnull().sum()
missing_values_percentages = (training80_inputs_features_df.isnull().sum() / len(training80_inputs_features_df)) * 100

# make a spreadsheet through pandas dataframe
missing_values_report = pandas.DataFrame({
    'Missing Values': missing_values_summary,
    'Percentage (%)': missing_values_percentage
})

print(missing_values_report)

                       Missing Values  Percentage (%)
longitude                           0         0.00000
latitude                            0         0.00000
housing_median_age                  0         0.00000
total_rooms                         0         0.00000
total_bedrooms                    158         0.95688
population                          0         0.00000
households                          0         0.00000
median_income                       0         0.00000
ocean_proximity                     0         0.00000
concatenated_position               0         0.00000
position_hash                       0         0.00000